*{
  margin: 0;
  padding: 0;
 }
body {
      background-color: #ABEBC6;
      font-family: 'Signika', sans-serif;
     }
.container { 
           max-width:1000px;
           background-color:#F5CBA7;
	   margin: 0 auto;
	   padding:20px;
          }
header   {
	 }
.profilepic {
	    width: 100px;
	    height: 120px;
            border: 3px solid white;
	    border-radius: 60%;
	    float: left;
	    }
.headerbio {
	     float: left;
	     padding: 30px;
	    }
h1,h2,h3,h4,h5,h6{
                  color:#6C3483;
		 }
.headercontact { float: right;
		 padding: 30px;
	      }
.headercontact a{ 
		 text-decoration: none;
		 color: #861BCC;
		 font-weight: bold;
		}
.headercontact a:hover {
			 text-decoration: underline;
			 color:#F35422;
			}
.divclear {clear: both;
	   }
hr    {
       border: solid black 3px;
	width: 100%;
	margin: 20px auto;
	border-bottom: none;
      }
#personal-section {
		  }
.content    {
            }
.leftdiv   {
	     width: 30% ;
	     float: left;
	    }

.rightdiv  {
	     width: 70% ;
	     float: left;
            }
.common-hr {border: solid black;
	    border-bottom: none;
	    width: 100%;
	    margin: 20px auto;
	  }
.eduright  {
	    width:50% ;
	    float: left;
	}
.eduleft    {
	     width:50% ;
	    float: left;
	 }
.footerstyle  {
		background-color: black;
		text-align: center;
		padding: 10px;
		}
.footerstyle a{	
		color: white;
		text-decoration: none;
		margin: 20px;
		}
.footerstyle p{
		color: white;
 		margin-top: 20px;
		}